.control{
    padding-left: 32%;
    height: 50%;
    width: 50%;
    background-color:white;
}
.control img{
    border-radius: 50px;
    margin-bottom: 8%;
    margin-left: 150px;
}

.control h1{
    padding-left: 22%;
}

.control input {

    width: 53%;
    padding: 0px 0px;
    margin: 20px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #ddd;
}

.control button{
    font-family: poppins;
    font-size: 18px;
    font-weight: 900;
    margin-top: 4%;
    color: white;
    border-radius: 10px;
    border: none;
    height: 45px;
    width: 25rem;
    background-color: green;
}

.control a{
    color: greenyellow;
    text-decoration: none;
    color: green;
}

.control p{
    margin-top: 5%;
}